@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

.fontBold{
	-fx-text-fill: #7f7d7b;
	-fx-font-size: 24;
	-fx-font-weight: bold;
	-fx-font-family: 'Quicksand'
}

.root {
  LABEL_PADDING_TOP: 0.0;
  LABEL_PADDING_RIGHT: 0.0;
  LABEL_PADDING_BOTTOM: 0.0;
  LABEL_PADDING_LEFT: -20.0;
}

.textInput{
	-fx-text-fill: -fx-text-inner-color;
    -fx-highlight-fill: derive(-fx-control-inner-background,-20.0%);
    -fx-highlight-text-fill: -fx-text-inner-color;
    -fx-prompt-text-fill: derive(-fx-control-inner-background,-30.0%);
    -fx-background-color:#fcf7f8;	
    -fx-background-insets: 0.0, 1.0;
    -fx-background-radius: 3.0, 2.0;
    -fx-cursor: text;
	-fx-padding: 0.0 0.0 0.0 40.0;
}

.textInput:focused {
    -fx-highlight-fill: -fx-accent;
    -fx-highlight-text-fill: white;
    -fx-background-color: 
        -fx-focus-color,
        -fx-control-inner-background,
        -fx-faint-focus-color,
        linear-gradient(from 0.0px 0.0px to 0.0px 5.0px, derive(-fx-control-inner-background, -9.0%), -fx-control-inner-background);
    -fx-background-insets: -0.2, 1.0, -1.4, 3.0;
    -fx-background-radius: 3.0, 2.0, 4.0, 0.0;
    -fx-prompt-text-fill: transparent;
}


.mainBackground{
	-fx-background-image: url("images/mainBack.png");
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
}

.button{
	-fx-background-color: #4e8098;
	-fx-background-radius: 5;
	-fx-text-fill: #fff;
	-fx-font-size: 20;
	-fx-cursor: hand;
	-fx-font-weight: bold;
	-fx-font-family: 'Quicksand'
}

.button:hover{
	-fx-background-color: #4a7488;
}

